body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, monospace;
  font-display: swap;
  background-color: var(--bg-color);
  color: var(--color);
}
.rps-move {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: var(--border);
    background-color: transparent;
  }
@media (prefers-color-scheme: dark){
  body{
    --bg-color: #343a40;
    --color: white; 
  }
   .rps-move{
    --border: 3px solid white;
  }
}
/* improve the light mode */
@media (prefers-color-scheme: light){
  body{
    --bg-color: rgba(226, 226, 226, 0.94);
    --color: #333;
  }
   .rps-move{
    --border: 3px solid #1d1d1dcd;
  }
}